# Environment variables for MLflow tracking
# Copy this file to .env and fill in your actual values
# Note: used for local docker containers only, for CI/CD, use Github action secrets instead of this

MLFLOW_TRACKING_URI=https://dagshub.com/your-username/your-repo.mlflow
MLFLOW_TRACKING_USERNAME=your-dagshub-username
MLFLOW_TRACKING_PASSWORD=your-dagshub-token
LOG_DB_PATH=container-path-to-sqlite-logs-db
LOGS_BASIC_AUTH_USER=admin
LOGS_BASIC_AUTH_PASSWORD=change-me
