.venv
__pycache__
.python-version
.DS_Store
*.pt
*.onnx
*.cache
settings.json
models/*
.env
CLAUDE.md
weights/*
runs/*
finetune_dataset/stave_count/ft2imgs/images/*
finetune_dataset/stave_count/ft2imgs/labels/*
finetune_dataset/staves_localizer/stavesImgs50/images/train/*
finetune_dataset/staves_localizer/stavesImgs50/labels/train/*
finetune_dataset/staves_localizer/stavesImgs50/images/val/*
finetune_dataset/staves_localizer/stavesImgs50/labels/val/*
finetune_dataset/test/*
pretrain_dataset/test/*
pretrain_dataset/train/*
pretrain_dataset/valid/*
