annotated-types
anyio
certifi
charset-normalizer
click
colorama
coloredlogs
contourpy
cycler
fastapi
filelock
flatbuffers
fonttools
fsspec
h11
humanfriendly
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
onnx
onnxruntime
opencv-python
opencv-python-headless
packaging
pandas
pillow
protobuf
psutil
py-cpuinfo
pydantic
pydantic_core
pyparsing
pyreadline3
python-dateutil
python-multipart
pytz
PyYAML
requests
scipy
seaborn
setuptools
six
sniffio
starlette
sympy
torch
torchvision
tqdm
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvicorn
roboflow
